body{
    font-family: Roboto,RobotoDraft, Helvetica, Arial, sans-serif;
}
h1{
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}
.intro{
    border-radius: 25px;
    border: 2px solid #0d0e0d;
    padding: 20px;
    background-color: cornsilk;
}
button{
    border-radius: 10px;
    border: 2px solid crimson;
    background-color: crimson;
    font-weight: bold;
    transition-duration: 0.4s;
}
button:hover{
    background-color: wheat;
}
.admin{
    background-color: rgb(171, 184, 184);
    border-radius: 25px;
    border: 2px solid #0d0e0d;
    padding: 20px;
}
input{
    width: 5ch;
}
/*the styling for the search buttons*/
#searchButtonTracks, #searchButtonTracksId, #searchButtonArtist, #searchButtonArtistId,#sortArtist,#sortAlbum,#sortTrack,#sortLength{
    padding: 6px 6px 6px 6px;
    border: 2px solid;
    border-radius: 5px 5px 5px 5px;
    border-color: #000;
    margin-top: 8px;
    margin-right: 0px;
    font-size: 15px;
    align-items: center;
    background-color: lightgrey;
 }
 /*the styling for the search bars*/
 #searchBarTracks, #searchBarTracksId, #searchBarArtist, #searchBarArtistId{
    
   padding: 6px 6px 6px 6px;
   width: 220px;
   border: 2px solid;
   border-radius: 5px 5px 5px 5px;
   border-color: #000;
   margin-top: 8px;
   margin-right: -7px;
   font-size: 18px;
   align-items: center;
   
 }
 /*Styling for the div that contains both search basr and search buttons*/
.firstSearch, .secondSearch, .thirdSearch,.fourthSearch{
   
    text-align: center;
    align-items: center;
    width: 100%;
    
    
    
 }
 h3{
    text-align: center;
 }
 .close-search{
      
    visibility: hidden;
    
 }
 .open-search{
   visibility: visible;
   
}

#bottom,.bottom{
    text-align: center;
    align-items: center;
    font-size: small;
}